body{
    background-color: pink;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.intro{
    border: 5px solid white;
}

.image{
    text-align: center;
}

h1{
    text-align:center;
    font-size:50px;
    color: white;
}

h2{
    font-size:30px;
}

h3{
    text-align:center;
    font-size: 35px;
    color: white;
}

.columns{
    display:flex;
    justify-content: space-between;
    gap:20px;
    color:purple;
}

.comp{
    text-align:center;
}

h4{
    font-size: 18px;
}